<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Begin</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto error, aliquid sed perferendis minus quam dolorem molestias deserunt temporibus impedit! Laudantium quae obcaecati, dignissimos! Dolorem animi molestias quas voluptates porro!
</body>

</html>